# 해당 파일에서는 Git에 포함하지 않는 간단한 특이사항을 공유해줄 것
.env
.venv/
__pycache__/
*.pyc

app/static/images/combi/
app/static/images/input/
app/static/images/output/
.vscode/

# macOS에서 생성하는 파일
**/.DS_Store

# 예전에 이미지를 수동으로 생성할 때 사용하던 경로
88_output/ 

# Firebase 관리자 파일: 유출되면 안됨 보안 주의
serviceAccountKey.json

# 재식 업데이트 임시 기록용 파일
update_text.md