<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layer Minder Beta</title>
    <link rel="styleseet" href="{{ url_for('static', filename='css/landing.css')}}">
</head>
<body>
    <header>
        <h3>Foundary</h3>
        <h1>AI-Powered Custom Furniture Design</h1>
        <p>Create unique spaces with furniture designed by artificial intelligence</p>
        <div class="button-container">
            <h2><a href="/main">Start Designing ➡</a></h2>
        </div>
    </header>
    <section class="image-grid">
    </section>
</body>
</html>
